* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body{
    height: 3000px;
}

h1{
    margin: 40px;
}

.desc-text{
    margin-top: 50px;
}

.col-5{
    display: block;
    padding-left: 30px;
}

.titlee{
    font-size: 30px;
    font-weight: 600;
    color: rgb(57, 57, 57);
}

span{
    font-size: 20px;
    font-weight:500;
    color: rgb(100, 100, 100);
}